coverage/
semanticRelease/
test-results/
.github/
.git/
node_modules/
.next/
out/
nginx/

.dockerignore
dockerfile

.gitignore

.eslintrc.js
.prettierrc.js
.prettierignore
.releaserc.js
jest.config.ts
jest.setup.ts

tsconfig.jest.json

CHANGELOG.md
README.md
TODO
